@import "../styles/variable";
@import "../styles/mixins";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.container{
    @include flex(column, flex-start, center);
    height: 140vh;
    background-image: url("/images/Home-BG.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 50vw;
    .heading{
        font-family: "GraphikBold";
        font-weight: 800;
        text-align: center;
        margin-top: 12rem;
        font-size: 4rem;
        margin-bottom: 2rem;
    }
}